/* Banner Section */
.banner {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .banner {
    margin: 0;
    flex-direction: row;
  }
}

.banner__container-img {
  margin: 4rem 0 2rem 0;
  height: 30rem;
}

@media (min-width: 1024px) {
  .banner__container-img {
    margin: 8rem 3.5rem;
    width: 585px;
    height: 800px;
  }
}

.banner__img {
  width: 100%;
  height: 100%;
}

.banner__title {
  margin: 0;
  width: 100%;
  font-size: 1.6rem;
}

@media (min-width: 1024px) {
  .banner__container-texts {
    width: 28rem;
    margin-left: 5rem;
  }
}

@media (min-width: 1024px) {
  .banner__title {
    margin-bottom: 2rem;
    font-size: 3rem;
  }
}

.banner__text {
  margin: 2.5rem 0 2.5rem 0;
  font-size: 1rem;
}

@media (min-width: 1280px) {
  .banner__text {
    margin-bottom: 2rem;
  }
}

.banner__text--border {
  width: 100%;
  padding: 0 1.3rem;
  border-left: 2px solid rgb(235, 92, 82);
  font-family: serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(10, 20, 53);
  line-height: 1.2;
}

@media (min-width: 1280px) {
  .banner__text--border {
    margin: 0 0 2rem 0;
  }
}
